# Convert text file line endings to lf
* text=auto

*.js text eol=lf

# These test fixtures are text files.
/spec/fixtures/text_plain.txt text eol=lf
/spec/fixtures/mainform_text_plain.txt text eol=lf
